@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --page-top: 128px;
  --page-half-top: 64px;
  --page-width: 50rem;
  --content-width: 38rem;
  --body-margin-left: max(24px, env(safe-area-inset-left));
  --body-margin-right: max(24px, env(safe-area-inset-right));

  --gray-50: #ffffff;
  --gray-75: #fdfdfd;
  --gray-100: #f8f8f8;
  --gray-200: #e6e6e6;
  --gray-300: #d5d5d5;
  --gray-400: #b1b1b1;
  --gray-500: #909090;
  --gray-600: #6d6d6d;
  --gray-700: #464646;
  --gray-800: #222222;
  --gray-850: #151515;
  --gray-900: #000000;
  --gray-950: #000000;

  --page-background: var(--gray-50);
  --heading: var(--gray-800);
  --text-body: var(--gray-700);
  --text-second: var(--gray-600);
  --text-disabled: var(--gray-400);

  --selection: hsla(0, 0%, 0%, 0.045);
  --border: hsla(0, 0%, 0%, 0.09);

  --code-bg: var(--gray-100);
  --code-fg: var(--gray-800);
  --code-scrollbar: var(--gray-200);
}

.dark {
  --gray-50: #000;
  --gray-75: #141414;
  --gray-100: #1d1d1d;
  --gray-200: #303030;
  --gray-350: #8a8a8a;
  --gray-300: #4b4b4b;
  --gray-400: #6a6a6a;
  --gray-500: #8d8d8d;
  --gray-600: #b0b0b0;
  --gray-650: #c4c4c4;
  --gray-700: #d0d0d0;
  --gray-750: #e0e0e0;
  --gray-800: #ebebeb;
  --gray-850: #f5f5f5;
  --gray-900: #fff;
  --gray-950: #fff;

  --page-background: var(--gray-75);
  --heading: var(--gray-750);
  --text-body: var(--gray-700);
  --text-second: var(--gray-500);
  --text-disabled: var(--gray-350);

  --selection: hsla(0, 0%, 100%, 0.077);
  --border: hsla(0, 0%, 100%, 0.2);

  --code-bg: var(--gray-100);
  --code-fg: var(--gray-800);
  --code-scrollbar: var(--gray-400);
}

@theme inline {
  --color-gray-50: var(--gray-50);
  --color-gray-75: var(--gray-75);
  --color-gray-100: var(--gray-100);
  --color-gray-200: var(--gray-200);
  --color-gray-300: var(--gray-300);
  --color-gray-400: var(--gray-400);
  --color-gray-500: var(--gray-500);
  --color-gray-600: var(--gray-600);
  --color-gray-700: var(--gray-700);
  --color-gray-800: var(--gray-800);
  --color-gray-900: var(--gray-900);

  --color-heading: var(--heading);
  --color-body: var(--text-body);
  --color-second: var(--text-second);
  --color-disabled: var(--text-disabled);
  --color-selection: var(--selection);
  --color-border: var(--border);
  --color-page: var(--page-background);

  --max-width-page: var(--page-width);
  --max-width-content: var(--content-width);

  --width-page: var(--page-width);
  --width-content: var(--content-width);

  --spacing-page: var(--page-top);
  --spacing-half-page: var(--page-half-top);

  --text-2xs: 0.7rem;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-code-bg: var(--code-bg);
  --color-code-fg: var(--code-fg);
}

body {
  @apply m-0 min-h-screen p-0;
  @apply font-sans text-base leading-7 tracking-normal antialiased;
  @apply bg-page text-second;
}

::selection {
  @apply bg-selection shadow-none;
}

@media (max-width: 1074px) {
  :root {
    --page-top: 128px;
  }
}

@media (max-width: 768px) {
  :root {
    --page-top: 96px;
    --page-half-top: 48px;
    --body-margin-left: max(16px, env(safe-area-inset-left));
    --body-margin-right: max(16px, env(safe-area-inset-right));
  }
}

.page-shell {
  width: 100%;
  max-width: var(--page-width);
  margin-inline: auto;
  padding-left: var(--body-margin-left);
  padding-right: var(--body-margin-right);
}

/* 전체 컨테이너 */
figure[data-rehype-pretty-code-figure] {
  position: relative;
  margin: 2rem 0;
}

/* 실제 코드 박스 (pre) */
figure[data-rehype-pretty-code-figure] pre {
  position: relative;
  padding: 2.5rem 2.5rem;
  border-radius: 18px;
  background-color: var(--gray-100) !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.02);
  white-space: pre-wrap; /* 공백은 유지하되 줄바꿈 허용 */
  word-break: break-all; /* 단어가 길면 쪼개서 줄바꿈 */
  overflow: hidden; /* 튀어나가는 것 방지 */
  /* font-family: var(--font-mono); */
  font-size: 0.8rem;
  line-height: 1.7;
}

/* 우측 상단 언어 이름 */
figure[data-rehype-pretty-code-figure] pre[data-language]::after {
  content: attr(data-language);
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 8px 8px;
  font-size: 0.75rem;
  color: var(--gray-600);
}

code[data-theme*=" "],
code[data-theme*=" "] span {
  color: var(--shiki-light);
}

.dark code[data-theme*=" "],
.dark code[data-theme*=" "] span {
  color: var(--shiki-dark);
}

:not(pre) > code {
  background-color: var(--selection);
  padding: 0.1rem 0.1rem;
  border-radius: 0.25rem;
  font-family: var(--font-mono);
  font-weight: 300;
  color: var(--heading);
}
